#navList{
    list-style-type: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container
{
    height: 100vh;
    width: 100vh;
    overflow-x: none;
}

.navContainer{
    width: 100vw;
    /* background-color: rgb(101, 101, 212); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
    overflow-x: none;
    padding-right: 2rem;
}
#navList{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    font-size:2.2rem ;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#navLogo{
    font-size:2.8rem ;
    color: white;
}
a{
    text-decoration: none;
    color: white;

}
#navitems{
    display: flex;
    gap: 40px;
}
.footerBox{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%);
    color: white;
    text-align: center;
    min-height: 40px;

}
.footerBox p{
    color: white;
    font-size:2rem ;
}
.contentBox{
    width: 50%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightBox{
    position: relative;
    overflow: hidden;
    transition: 0.3s linear 0s;
    
}
.rightBox img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    transition: all 0.6s linear 0s ;
}
.rightBox:hover{
    transform: scale(1.2);

}

.leftBox{
    display: flex;
    gap:20px ;
    flex-direction: column;
}
.leftBox h2{
    font: 2rem;
}
.ingBox{
    font-size: 1.3rem;
}
.recBox{
    font-size: 1.1rem;
}
.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(51, 50, 50, 0.616);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s linear 0s ;
}
.rightBox:hover .overlay{
    opacity: 1;
}

.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;

}